// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.flexpower {
  padding: 16px;
  display: flex;
  align-items:center;
  justify-content: space-between;
}
